*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    border: 1px #fe7b0d solid;
    background-color: #ffed92;
}
.navbar{
    border: 1px #fe7b0d solid;
    background-color: #ffed92;
    text-decoration: none;
    list-style: none;
}
.main{
    border: 1px #fe7b0d solid;
    background-color: #ffed92;
}
.sidebar{
    border: 1px #fe7b0d solid;
    background-color: #ffed92;
}
.advertising{
    border: 1px #fe7b0d solid;
    background-color: #ffed92;
}
.footer{
    border: 1px #fe7b0d solid;
    background-color: #ffed92;
}
@media (max-width:640px) { 
    display:flex;
    flex-direction: column;
}
@media (min-width:641px) and ( max-width:1024px){

}
@media (min-width:1025px) {

}